.search {
    height: 500px;
}

/* .forecast {
    height: 1000px;
} */

.fiveDay {
    margin: 15px;
}

.current {
    height: 400px;
}

/* .daily {
    height: 100px; 
    background: steelblue;
    min-width: 150px;
    max-width: 210px; 
    min-height: 200px;
    max-height: 200px;
    margin-bottom: 15px;
} */

.cardBody {
    padding-top: 25px;
    max-height: 500px;
    font-size: 18px; 
}

.extended {
    justify-content: safe;
}

.h4 {
    margin: 20px;
}

#city {
    font-size: 45px;

}